[workspace]
resolver = "3"
members = [
  "crates/*"
]
exclude = [
  "target/"
]

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "MIT"
description = "Simple project manager for simple java apps"

[workspace.dependencies]
